In [1]:
import os
import pandas as pd

In [2]:
# printing current working directory
cwd = os.getcwd() 
print(cwd)

C:\Users\Rabbil\Documents\BDA_thesis\thesis-project\data\raw

In [14]:
cwd = os.getcwd() # dirname (abspath(__file__))
BASE_DIR = os.path.dirname(cwd)

# We have two dataset
DATA_DIR = os.path.join(BASE_DIR, 'raw\Data_supersite')
DATA_DIR_1 = os.path.join(BASE_DIR, 'raw\Data_movingsite')

In [15]:
# check what are the data inside
print(os.listdir(DATA_DIR))
print(os.listdir(DATA_DIR_1))

['sporametri-supersite-data0219.csv', 'sporametri-supersite-data0319.csv', 'sporametri-supersite-data0419.csv', 'sporametri-supersite-data0519.csv']
['Month2.csv', 'Month3.csv', 'Month4.csv', 'Month5.csv', 'Month6.csv', 'Month7.csv', 'Month8.csv']

In [16]:
# Renaming the csv file for supersite data
path = os.chdir(r"C:\Users\Rabbil\Documents\BDA_thesis\thesis-project\data\raw\Data_supersite")

i = 2
for file in os.listdir(path):
    # use format function {}.format(value)
    new_file_name = "Month{}.csv".format(i)
    os.rename(file, new_file_name)
    
    i = i+1

In [17]:
# list of files in the directory
for filename in os.listdir(DATA_DIR):
    print(filename)

Month2.csv
Month3.csv
Month4.csv
Month5.csv

### Combining all the csv files into one csv file

In [27]:
cwd = os.getcwd() # dirname (abspath(__file__))
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'Data_supersite')

# saving the combined data into this directory -creating a directory named cache_supersite
CACHE_DIR = os.path.join(BASE_DIR, 'cache_supersite')
os.makedirs(CACHE_DIR, exist_ok = True)

# creating another cache_dir for moving site data
CACHE_DIR_1 = os.path.join(BASE_DIR, 'cache_movingsite')
os.makedirs(CACHE_DIR_1, exist_ok = True)

In [21]:
# reding only one file
df = pd.read_csv(os.path.join(DATA_DIR, 'Month2.csv'))
df.head()

,timestamp,spora-id,latitude,longitude,NO,NO2,O3,CO,BME680_pressure,BME680_humidity,BME680_temperature,comment
0,1550655074,4,0.0,0.0,-0.135450,0.096417,0.066185,-0.256680,99098.0,30.745,19.35,NaN
1,1550655075,4,0.0,0.0,-0.141582,0.094251,0.066201,-0.233120,99098.0,30.752,19.36,NaN
2,1550655076,4,0.0,0.0,-0.149044,0.094080,0.066187,-0.167245,99095.0,30.741,19.36,NaN
3,1550655077,4,0.0,0.0,-0.130382,0.094080,0.066209,-0.167245,99094.0,30.745,19.35,NaN
4,1550655078,4,0.0,0.0,-0.130382,0.099758,0.066233,-0.158410,99099.0,30.763,19.36,NaN

In [22]:
# combining all the csv files

# we have list of dataframes and take this list as
my_dataframes = [] # then append this with this_df

csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith(".csv")] # to make sure my filenames are only filenames that have a CSV file
#for filename in os.listdir(DATA_DIR): # replace by csv_files

for filename in csv_files:
    print(filename)
    month = filename.replace(".csv", "")
    csv_path = os.path.join(DATA_DIR, filename)
    this_df = pd.read_csv(csv_path)
    
    # now adjust this_df
    this_df['filename']= filename
    this_df['Month'] = month
    print(this_df.head(n=1))
    my_dataframes.append(this_df)

Month2.csv
    timestamp  spora-id  latitude  longitude       NO       NO2        O3  \
0  1550655074         4       0.0        0.0 -0.13545  0.096417  0.066185

        CO  BME680_pressure  BME680_humidity  BME680_temperature  comment  \
0 -0.25668          99098.0           30.745               19.35      NaN

     filename   Month
0  Month2.csv  Month2
Month3.csv
    timestamp  spora-id   latitude  longitude        NO       NO2        O3  \
0  1551398400         4  60.196532  24.952088 -1.312136  0.443103  0.148814

        CO  BME680_pressure  BME680_humidity  BME680_temperature  comment  \
0 -0.24211         100051.0           25.256               13.21      NaN

     filename   Month
0  Month3.csv  Month3
Month4.csv
    timestamp  spora-id   latitude  longitude       NO       NO2  O3  CO  \
0  1554273562         4  60.196532  24.952088  10.6197 -2.995236 NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0         102384.0           86.229                6.26      NaN  Month4.csv

    Month
0  Month4
Month5.csv
    timestamp  spora-id   latitude  longitude  NO  NO2  O3  CO  \
0  1556871915         4  60.196532  24.952088 NaN  NaN NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0          98947.0           63.528                3.03      NaN  Month5.csv

    Month
0  Month5

In [23]:
# my_entire_dataframe is pd.DataFrame(my_dataframes) 
# creating data frame using another dataframe

# now combine dataframe using concat method
my_entire_dataframe = pd.concat(my_dataframes)
my_entire_dataframe.head(5)

,timestamp,spora-id,latitude,longitude,NO,NO2,O3,CO,BME680_pressure,BME680_humidity,BME680_temperature,comment,filename,Month
0,1550655074,4,0.0,0.0,-0.135450,0.096417,0.066185,-0.256680,99098.0,30.745,19.35,NaN,Month2.csv,Month2
1,1550655075,4,0.0,0.0,-0.141582,0.094251,0.066201,-0.233120,99098.0,30.752,19.36,NaN,Month2.csv,Month2
2,1550655076,4,0.0,0.0,-0.149044,0.094080,0.066187,-0.167245,99095.0,30.741,19.36,NaN,Month2.csv,Month2
3,1550655077,4,0.0,0.0,-0.130382,0.094080,0.066209,-0.167245,99094.0,30.745,19.35,NaN,Month2.csv,Month2
4,1550655078,4,0.0,0.0,-0.130382,0.099758,0.066233,-0.158410,99099.0,30.763,19.36,NaN,Month2.csv,Month2

In [25]:
# Saving entire dataframe into a new csv file
# Exporting the data to one single source (cache source)

dataset = os.path.join(CACHE_DIR, 'super-site-dataset.csv') # we will save it in CACHE_DIR
my_entire_dataframe.to_csv(dataset, index=False)

In [28]:
# combining all the csv files for moving site

# we have list of dataframes and take this list as
my_dataframes = [] # then append this with this_df

csv_files = [x for x in os.listdir(DATA_DIR_1) if x.endswith(".csv")] # to make sure my filenames are only filenames that have a CSV file
#for filename in os.listdir(DATA_DIR): # replace by csv_files

for filename in csv_files:
    print(filename)
    month = filename.replace(".csv", "")
    csv_path = os.path.join(DATA_DIR_1, filename)
    this_df = pd.read_csv(csv_path)
    
    # now adjust this_df
    this_df['filename']= filename
    this_df['Month'] = month
    print(this_df.head(n=1))
    my_dataframes.append(this_df)

Month2.csv
    timestamp  spora-id   latitude  longitude       NO       NO2        O3  \
0  1550561649         2  60.184558  24.922632  0.34164 -0.036944 -0.078952

         CO  BME680_pressure  BME680_humidity  BME680_temperature  comment  \
0  0.057486         100259.0           27.889               30.55      NaN

     filename   Month
0  Month2.csv  Month2
Month3.csv
    timestamp  spora-id   latitude  longitude        NO       NO2        O3  \
0  1551398400         2  60.184443  24.922442 -1.196056  0.455616  0.039701

         CO  BME680_pressure  BME680_humidity  BME680_temperature  comment  \
0 -3.777165         100209.0           28.867                17.3      NaN

     filename   Month
0  Month3.csv  Month3
Month4.csv
    timestamp  spora-id  latitude  longitude  NO  NO2  O3  CO  \
0  1554085919         2       0.0        0.0 NaN  NaN NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0         101672.0           45.637               18.56      NaN  Month4.csv

    Month
0  Month4
Month5.csv
    timestamp  spora-id   latitude  longitude  NO  NO2  O3  CO  \
0  1556768908         2  60.183158  24.921062 NaN  NaN NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0          98759.0           37.935               20.98      NaN  Month5.csv

    Month
0  Month5
Month6.csv
    timestamp  spora-id   latitude  longitude        NO       NO2        O3  \
0  1560480287         2  60.196503  24.960758  1.964136  0.008104 -0.327733

         CO  BME680_pressure  BME680_humidity  BME680_temperature  comment  \
0  7.891836         101385.0           40.483               28.98      NaN

     filename   Month
0  Month6.csv  Month6
Month7.csv
    timestamp  spora-id   latitude  longitude  NO  NO2  O3  CO  \
0  1561989388         2  60.215547   24.97079 NaN  NaN NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0          99514.0           47.067               25.93      NaN  Month7.csv

    Month
0  Month7
Month8.csv
    timestamp  spora-id  latitude  longitude  NO  NO2  O3  CO  \
0  1565775605         2       0.0        0.0 NaN  NaN NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0         100575.0           56.589               23.83      NaN  Month8.csv

    Month
0  Month8

In [29]:
# now combine dataframe using concat method
my_entire_dataframe_ms = pd.concat(my_dataframes)
my_entire_dataframe_ms.tail(5)

,timestamp,spora-id,latitude,longitude,NO,NO2,O3,CO,BME680_pressure,BME680_humidity,BME680_temperature,comment,filename,Month
115061,1565946374,2,0.0,0.0,0.495232,-0.205368,-0.083649,0.663970,101317.0,29.632,36.73,NaN,Month8.csv,Month8
115062,1565946375,2,0.0,0.0,0.491208,-0.211384,-0.083671,0.729081,101320.0,29.644,36.73,NaN,Month8.csv,Month8
115063,1565946376,2,0.0,0.0,0.488856,-0.202344,-0.083713,0.690502,101320.0,29.644,36.73,NaN,Month8.csv,Month8
115064,1565946377,2,0.0,0.0,0.483232,-0.200424,-0.083679,0.790895,101318.0,29.626,36.73,NaN,Month8.csv,Month8
115065,1565946378,2,0.0,0.0,0.505392,-0.198984,-0.083624,0.761964,101319.0,29.626,36.73,NaN,Month8.csv,Month8

In [30]:
# Saving entire dataframe into a new csv file
# Exporting the data to one single source (cache source)

dataset_ms = os.path.join(CACHE_DIR_1, 'moving-site-dataset.csv') # we will save it in CACHE_DIR_1
my_entire_dataframe_ms.to_csv(dataset_ms, index=False)

In [37]:
# Data pipelining using OOPs concept

import os
import pandas as pd

cwd = os.getcwd() # dirname (abspath(__file__))
#print(cwd)
BASE_DIR = os.path.dirname(cwd)

# We have two dataset
DATA_DIR_SS = os.path.join(BASE_DIR, 'raw\Data_supersite')
DATA_DIR_MS = os.path.join(BASE_DIR, 'raw\Data_movingsite')

# check what are the data inside
#print(os.listdir(DATA_DIR))
#print(os.listdir(DATA_DIR_1))

# saving the combined data into this directory -creating a directory named cache_supersite
CACHE_DIR_SS = os.path.join(BASE_DIR, 'cache_supersite')
os.makedirs(CACHE_DIR_SS, exist_ok = True)

# creating another cache_dir for moving site data
CACHE_DIR_MS = os.path.join(BASE_DIR, 'cache_movingsite')
os.makedirs(CACHE_DIR_MS, exist_ok = True)


# Renaming the csv file
#path/DATA_DIR = os.chdir(r"C:\Users\Rabbil\Documents\BDA_thesis\thesis-project\data\raw\Data_supersite")

def rename_file(data_dir):
    '''
    Renaming the csv files in dataset; take data_dir or path as argument
    Also print the list of renamed files
    '''
    i = 2
    for file in os.listdir(data_dir):
        # use format function {}.format(value)
        new_file_name = "Month{}.csv".format(i)
        os.rename(file, new_file_name)

        i = i+1
        
    # check the list of files in the directory
    for filename in os.listdir(data_dir):
        print(filename)




# Function for combining sevearl files and saving into one file

def combine_and_save_data(data_dir, cache_dir):
    '''
    In the function two arguments are passed, the data_dir whcih is source of data
    Argument cache_dir is the source where the combined data will be saved
    '''
    # declare the empty list of dataframes 
    my_dataframes = [] 

    csv_files = [x for x in os.listdir(data_dir) if x.endswith(".csv")] # to make sure my filenames are only filenames that have a CSV file
    #for filename in os.listdir(DATA_DIR): # replace by csv_files

    for filename in csv_files:
        print(filename)
        month = filename.replace(".csv", "")
        csv_path = os.path.join(data_dir, filename)
        this_df = pd.read_csv(csv_path)

        # now adjust this_df
        this_df['filename']= filename
        this_df['Month'] = month
        
        # printing the number of dataframe 
        print(this_df.head(n=1))
        
        # append earlier dataframe with later dataframe
        my_dataframes.append(this_df)
        
    # now combine dataframe using concat method
    my_entire_dataframe = pd.concat(my_dataframes)
        
    # Saving entire dataframe into a new csv file
    # Exporting the data to one single source (cache source)
    dataset = os.path.join(cache_dir, 'moving-site-dataset1.csv') 
    
    # we will save it in CACHE_DIR
    my_entire_dataframe.to_csv(dataset, index=False)
    
    return dataset

In [38]:
combine_and_save_data(DATA_DIR_1, CACHE_DIR_1)

Month2.csv
    timestamp  spora-id   latitude  longitude       NO       NO2        O3  \
0  1550561649         2  60.184558  24.922632  0.34164 -0.036944 -0.078952

         CO  BME680_pressure  BME680_humidity  BME680_temperature  comment  \
0  0.057486         100259.0           27.889               30.55      NaN

     filename   Month
0  Month2.csv  Month2
Month3.csv
    timestamp  spora-id   latitude  longitude        NO       NO2        O3  \
0  1551398400         2  60.184443  24.922442 -1.196056  0.455616  0.039701

         CO  BME680_pressure  BME680_humidity  BME680_temperature  comment  \
0 -3.777165         100209.0           28.867                17.3      NaN

     filename   Month
0  Month3.csv  Month3
Month4.csv
    timestamp  spora-id  latitude  longitude  NO  NO2  O3  CO  \
0  1554085919         2       0.0        0.0 NaN  NaN NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0         101672.0           45.637               18.56      NaN  Month4.csv

    Month
0  Month4
Month5.csv
    timestamp  spora-id   latitude  longitude  NO  NO2  O3  CO  \
0  1556768908         2  60.183158  24.921062 NaN  NaN NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0          98759.0           37.935               20.98      NaN  Month5.csv

    Month
0  Month5
Month6.csv
    timestamp  spora-id   latitude  longitude        NO       NO2        O3  \
0  1560480287         2  60.196503  24.960758  1.964136  0.008104 -0.327733

         CO  BME680_pressure  BME680_humidity  BME680_temperature  comment  \
0  7.891836         101385.0           40.483               28.98      NaN

     filename   Month
0  Month6.csv  Month6
Month7.csv
    timestamp  spora-id   latitude  longitude  NO  NO2  O3  CO  \
0  1561989388         2  60.215547   24.97079 NaN  NaN NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0          99514.0           47.067               25.93      NaN  Month7.csv

    Month
0  Month7
Month8.csv
    timestamp  spora-id  latitude  longitude  NO  NO2  O3  CO  \
0  1565775605         2       0.0        0.0 NaN  NaN NaN NaN

   BME680_pressure  BME680_humidity  BME680_temperature  comment    filename  \
0         100575.0           56.589               23.83      NaN  Month8.csv

    Month
0  Month8

'C:\\Users\\Rabbil\\Documents\\BDA_thesis\\thesis-project\\data\\raw\\cache_movingsite\\moving-site-dataset1.csv'

In [46]:
# Renaming the csv file for supersite data
#path/DATA_DIR = os.chdir(r"C:\Users\Rabbil\Documents\BDA_thesis\thesis-project\data\raw\Data_supersite")

def rename_file(path):
    i = 2
    for file in os.listdir(path):
        # use format function {}.format(value)
        new_file_name = "Month{}.csv".format(i)
        os.rename(file, new_file_name)

        i = i+1
        
    # list of files in the directory
    for filename in os.listdir(path):
        print(filename)

In [48]:
rename_file(DATA_DIR)

Month2.csv
Month3.csv
Month4.csv
Month5.csv